<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600606426205-plujmns1ft32g0dhbichk7dh96mamvs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600606426205-plujmns1ft32g0dhbichk7dh96mamvs9</string>
	<key>API_KEY</key>
	<string>AIzaSyCHer6V8ULvFIp-IJOJC6kKT6Nfz7dyXF0</string>
	<key>GCM_SENDER_ID</key>
	<string>600606426205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reimiApp</string>
	<key>PROJECT_ID</key>
	<string>reimi-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>reimi-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600606426205:ios:a8cb332bf6e57974d6b9b4</string>
</dict>
</plist>