# Springプロファイル
SPRING_PROFILES_ACTIVE=dev

# ポート設定
PORT=8080

# データベース関連
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/your_db_name
SPRING_DATASOURCE_USERNAME=your_db_username
SPRING_DATASOURCE_PASSWORD=your_db_password

# JPA/Hibernate設定
SPRING_JPA_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# ホットリロード設定
SPRING_DEVTOOLS_RESTART_ENABLED=true
SPRING_DEVTOOLS_LIVERELOAD_ENABLED=true

# PostgreSQL設定
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_username
POSTGRES_PASSWORD=your_db_password

# Firebase
# プロジェクトID
FIREBASE_PROJECT_ID=your-project-id
# Storageのバケット名
FIREBASE_STORAGE_BUCKET=your-firebase-storage-bucket
# Firebase Admin SDK の認証情報（ローカル用）
GOOGLE_APPLICATION_CREDENTIALS=secrets/your_service_account_key.json

# アプリケーションURL
APP_URL=http://localhost:8080

# flyway設定
SPRING_FLYWAY_ENABLED=false
FLYWAY_URL=jdbc:postgresql://localhost:5432/reimi_db
FLYWAY_USER=postgres
FLYWAY_PASSWORD=postgres

# ウェザーニューズAPI関連
WEATHER_BASE_URL=https://XXXXXXXXXXXXXXXXXXXX
WEATHER_API_KEY=XXXXXXXXXXXXXXXXXXXX
WEATHER_ICON_URL=https://XXXXXXXXXXXXXXXXXXXX

# Gimini API関連
GEMINI_MODEL=XXXXXXXXXXXXXXXXXXXX
GEMINI_API_KEY=XXXXXXXXXXXXXXXXXXXX