<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590316043514-rds5crjgve7b3ku845ir0me8rvopblag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590316043514-rds5crjgve7b3ku845ir0me8rvopblag</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590316043514-73drhdgkebj8b5iup1ngas8sqcjlfvha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJx5tluHcvcwdPFKVuPTo7dm-e5CQhZ3I</string>
	<key>GCM_SENDER_ID</key>
	<string>590316043514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reimiApp</string>
	<key>PROJECT_ID</key>
	<string>reimi-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>reimi-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590316043514:ios:d61ef214e82438589e1d43</string>
</dict>
</plist>